html { overflow-y: scroll; }

body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin: 0px auto;
  width: 700px;
  max-width: 100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: justify;
  font-size: 130%;
}

.bor {
border: 1px solid Brown; padding: 9px;
}  

@media screen and (max-width: 800px) {
  main { padding:0 9px; }
}

span.keeptogether {
  white-space: nowrap ;
}

a:link, a:visited {
  color: Brown;
}

a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }

a:hover, a:active {
  color: Brown;
}

a img {
  border: 0;
}

a.cap {
  text-decoration: none;
}

a.cap:link, a.cap:visited {
  color: gray;
}

a.cap:hover, a.cap:active {
  color: Brown;
}

a.cap img {
  border: 0;
}

.katex .base:last-child {
  display: inline;
}
