html { overflow-y: scroll; }


body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin: 0px auto;
  width: 700px;
  max-width: 100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: justify;
  font-size: 130%;
}


.container {
  margin: 5% auto;
  font-size: 300%;
  }


nav {
  margin: 5% 0 0 0;
  font-size: 110%;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;  
  text-align: right;
  gap: 5%;
}


.bor {
border: 1px solid Brown; padding: 9px;
}  


@media screen and (max-width: 800px) {
  html { padding: 0 9px; }
}


@media all and (max-width: 650px) {
  
  nav {
    flex-wrap: wrap;
  }
  
  nav > div {
    flex-basis: 50%;
  }
  
  nav .ka {
    text-align: right;
  }

  nav .sa {
    text-align: right;
  }
  
}


@media all and (max-width: 330px) {
  
  nav {
    flex-wrap: wrap;
  }
  
  nav > div {
    flex-basis: 100%;
  }
  
  nav .ka {
    text-align: left;
  }

  nav .sa {
    text-align: left;
  }
  
}


span.keeptogether {
  white-space: nowrap ;
}

a:link, a:visited {
  color: Brown;
}

a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }

a:hover, a:active {
  background: Brown; /* Цвет фона под ссылкой */ 
    color: White; /* Цвет ссылки */ 
}

a.he:hover, a.he:active {
  background: Brown; /* Цвет фона под ссылкой */ 
  color: White; /* Цвет ссылки */ 
  display: inline-block;
}

a img {
  border: 0;
}

a.na:link, a.na:visited {
  color: Brown;
  background: rgba(165, 42, 42, 0.2); /* Цвет фона под ссылкой */
}

a.na:hover, a.na:active { 
  background: Brown; /* Цвет фона под ссылкой */ 
  color: White; /* Цвет ссылки */   
}


a.cap {
  text-decoration: none;
}

a.cap:link, a.cap:visited {
  color: gray;
}

a.cap:hover, a.cap:active {
  color: Brown;
}

a.cap img {
  border: 0;
}

.nobul {
  list-style-type: none;
}

.katex .base:last-child {
  display: inline;
}

.katex { line-height: .5 !important; }

.katex > .katex-html {
	white-space: normal;
}


svg path {
fill:inherit;
stroke:inherit;
}

.lin:link, .icon-youtube:visited {
  fill: Brown;
}

.lin:hover, .icon-youtube:active {
 fill:White;
}


.box {
  text-align: left;
  border-radius: 5px;
  background-color: brown; /*мешать на https://www.w3schools.com/colors/colors_mixer.asp */
  padding: 9px;	
  color: white;
}

.nei {
  padding: 5px 9px;
}

.boxbor {
  border: 2px solid gray;
  padding: 0px;
  border-radius: 5px;  
}

.neib {
  padding: 5px 9px 9px 9px;
}


ul.nepa li {
  padding: 5px 0;
  text-align: left;
}

ul.lef li {
  text-align: left;
}


h1 {
  text-align: left;
  font-size: 170%;
  font-weight: 400;  
  margin-top: 7%;
}

h1 span, h2 span {
  background-color: rgba(0,0,0, 0.2); /* Цвет фона под */
  
}

h2 {
  text-align: left;
  font-size: 120%;
  font-weight: 400;
  margin: 5% 0 3% 0;
}

h3 {
  text-align: left;
  font-size: 110%;
  font-weight: 400;
  margin: 4% 0 2% 0;
}


.news {
  margin: 0;
}
