html { overflow-y: scroll; }

:root {
  --my-col: rgb(0,	71,	211);
}

body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin: 0px auto;
  width: 700px;
  max-width: 100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: justify;
  font-size: 130%;
}


.container {
  margin: 50px auto;
  font-size: 70px;
  }


nav {
  margin: 5% 0 0 0;
  font-size: 110%;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;  
  text-align: right;
  gap: 5%;
}


.bor {
border: 2px solid gray; 
padding: 9px;
border-radius: 5px;
}  


@media screen and (max-width: 800px) {
  html { padding: 0 9px; }
}


@media all and (max-width: 650px) {
  
  nav {
    flex-wrap: wrap;
  }
  
  nav > div {
    flex-basis: 50%;
  }
  
  nav .ka {
    text-align: right;
  }

  nav .sa {
    text-align: right;
  }
  
}


@media all and (max-width: 330px) {
  
  nav {
    flex-wrap: wrap;
  }
  
  nav > div {
    flex-basis: 100%;
  }
  
  nav .ka {
    text-align: right;
  }

  nav .sa {
    text-align: right;
  }
  
}


span.keeptogether {
  white-space: nowrap ;
}

a:link, a:visited {
  color: var(--my-col);
  border-radius: 5px;
  background-color: rgb(0,71,211,.1); /* Цвет фона под ссылкой */ 
}

a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }

a:hover, a:active {
  background: var(--my-col); /* Цвет фона под ссылкой */ 
  color: White; /* Цвет ссылки */
  border-radius: 5px;
}

/* katex подработка */
a.he:hover, a.he:active {
  background: var(--my-col); /* Цвет фона под ссылкой */ 
  color: White; /* Цвет ссылки */ 
  display: inline-block;
}

a img {
  border: 0;
}

a.na:link, a.na:visited {
  color: var(--my-col);
  background: rgba(165, 42, 42, 0.2); /* Цвет фона под ссылкой */
  border-radius: 5px;
}

a.na:hover, a.na:active { 
  background: var(--my-col); /* Цвет фона под ссылкой */ 
  color: White; /* Цвет ссылки */   
}


a.cap {
  text-decoration: none;
}

a.cap:link, a.cap:visited {
  color: gray;
}

a.cap:hover, a.cap:active {
  color: var(--my-col);
}

a.cap img {
  border: 0;
}

.nobul {
  list-style-type: none;
}

.katex .base:last-child {
  display: inline;
}

.katex { line-height: .5 !important; }

.katex > .katex-html {
	white-space: normal;
}


svg path {
fill:inherit;
stroke:inherit;
}

.icon-youtube:link, .icon-youtube:visited {
  fill: var(--my-col);
}

.icon-youtube:hover, .icon-youtube:active {
 fill:White;
}


.box {
  text-align: left;
  border-radius: 5px;
  background-color: var(--my-col); /*мешать на https://www.w3schools.com/colors/colors_mixer.asp */
  padding: 9px;	
  color: white;
}

.nei {
  padding: 5px 9px;
  text-align: left;
}

.boxbor {
  border: 2px solid gray;
  padding: 0px;
  border-radius: 5px;  
}

.neib {
  padding: 5px 9px 9px 9px;
}


ul li {
  margin-bottom: 6px;  
}

ul.lef li {
  text-align: left;
}

.nobul li::marker {
  content: "";
}


h1 {
  text-align: left;
  font-size: 170%;
  margin-top: 50px;
  text-shadow: 1px 1px var(--my-col);
}

h2 {
  text-align: left;
  font-size: 140%;
  margin-top: 40px;
}

h3 {
  text-align: left;
  font-size: 120%;
  margin-top: 30px;
}


.news {
  margin: 0;
}
