body {
  background: #fff;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 10px 20px 20px 30px;
  max-width: 1200px;
}

span.keeptogether {
  white-space: nowrap ;
}

a {
  text-decoration: underline;
}

a:link, a:visited {
  color: darkblue;
}

a:hover, a:active {
  color: crimson;
}

a img {
  border: 0;
}
